@charset "EUC-KR";
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

* {
	margin : 10px;
}

#trade {
	border : solid 2px gray;
}

#box1 {
	border : solid 2px gray;
}

#ad {
	background-color : white;
	color : gray;
	text-decoration : none;
}

#mainTitle {
	color : black;
	padding : 1px;
	float : left;
}

#h1 {
	color : black;
	padding : 1px;
}

#priceh1 {
	color : gray;
	font-size : 25px;
	margin : 2px;
	padding : 0px 10px;
	float : left;
}

#tradeTable {
	text-align : center;
	font-size : 12px;
	margin : 0px;
}

h2 {
	background-color : gray;
	color : white;
	padding : 1px;
}

#menuTitle {
	background-color : gray;
	color : white;
	padding : 1px;
}

header {
	background-color : white;
	padding : 0px, 0px;
	border : 10px;
	margin : 5px;
	width : 100%;
	color : white;
}

nav {
	padding : 0px, 0px;
	border : 2px;
	margin : 10px;
	width : 98%;
	height : 40px;
	padding : 1px;
	text-align : center;
	color : white;
	background-color : gray;
}

#na {
	
}

footer {
	background-color : #4374D9;
	padding : 10px, 0px;
	border : 10px;
	margin : 5px;
	width : 100%;
	text-align : center;
	color : white;
}

#tableWithLabel {
	border-left : 1px solid gray;
}

ul {
	list-style : none;
	margin : 0px 0px 0px 10px;
	padding : 0px;
}
ul li {
	float : left;
	margin : 0px 6px;
	padding : 0px 10px 0px 0px;
	color : #5D5D5D;
	border-right : 1px solid gray;
}
ol {
	list-style-type: upper-roman;
}

#hyperLink {
	color : green;
}

#na:link {
	color : white;
	text-decoration : none;
	display : inline-block;
}
#na:visited {
	background-color : green;
	color : white;
	display : inline-block;
}
#na:hover {
	background-color : gray;
	color : black;
	display : inline-block;
}
#na:active {
	background-color : red;
	color : white;
	display : inline-block;
}