@charset "EUC-KR";
* {
	margin : 10px;
}
section {
	border : solid 2px lightblue;
}

h1 {
	color : black;
	padding : 1px;
	float : left;
}

h2 {
	background-color : gray;
	color : white;
	padding : 1px;
}

header {
	background-color : white;
	padding : 10px, 0px;
	border : 10px;
	margin : 5px;
	width : 100%;
	color : white;
	float : left;
}

footer {
	background-color : #4374D9;
	padding : 10px, 0px;
	border : 10px;
	margin : 5px;
	width : 100%;
	text-align : center;
	color : white;
}
nav {
	padding : 10px, 0px;
	border : 10px;
	margin : 5px;
	width : 100%;
	text-align : center;
	color : white;
	
	background-color : gray;
	color : white
}
ul {
	list-style-type : circle;
}
ol {
	list-style-type: upper-roman;
}
#hyperLink {
	color : green;
}
a:link {
	color : white;
	text-decoration : none;
	display : inline-block;
}
a:visited {
	background-color : green;
	color : white;
	display : inline-block;
}
a:hover {
	background-color : gray;
	color : black;
	display : inline-block;
}
a:active {
	background-color : red;
	color : white;
	display : inline-block;
}