@charset "EUC-KR";

.userState {
	margin : 0px 0px 12px 0px;
	padding : 5px 5px 0px 5px;
	width : 255px;
	height : 22px;
	text-align : center;
	font-size : 13px;
	border-bottom : 1px solid #BEE0FF;
	color : white;
	background-color : #1E60B5;
}

.IDPWfont {
	font-family: 'Baloo Chettan', cursive;
	color : #1E60B5;
	margin : 0px;
	width : 25px;
	float : left;
	font-size : 18px;
}

.loginForm {
	margin : 0px 10px 0px 10px;
}

.IDPWform {
	width : 200px;
	height : 20px;
	margin : 0px 0px 10px 10px;
	border : 1px solid #1E60B5;
	border-radius : 6px;
}

.btbox {
	margin : 0px;
	display : inline-block;
	width : 246px;
	height : 25px;
}

.loginIns {
	display : inline-block;
	margin : 3px 0px 0px 0px;
	width : 120px;
	height : 16px;
	float : left;
	vertical-align : top;
}

.idLabel {
	margin : 0px;
	padding : 0px;
	font-size : 11px;
	vertical-align : top;
	color : #1E60B5;
}

#logincb {
	margin : 0px;
	padding : 0px;
	vertical-align : top;
	border : 1px solid red;
}

.loginbt {
	width : 70px;
	height : 22px;
	margin : 0px 8px 5px 5px;
	border : 1px solid #1E60B5;
	border-radius : 6px;
	background-color : white;
	color : #1E60B5;
	float : right;
}

.option_box {
	margin : 0px;
	border-top : 1px solid #BEE0FF;
}

.login_option {
	border : none;
	margin : 5px 17px;
	font-size : 10px;
	color : #1E60B5;
	background-color : #F2F8FF;
}

.join_section {
	display : inline-block;
	border : 1px solid white;
	width : 770px;
	float : left;
	margin : 0px 10px 10px 10px;
	height : 50px;
}

.contents_join_box {
	display : inline-block;
	width : 700px;
	height : 500px;
	border : 1px solid white;
	float : left;
	
	font-family: Gulim, Tahoma, Arial, sans-serif;
	font-weight : normal;
	font-size : 13px;
	margin : 10px 10px 0px 10px;
}

.join_box_title {
	margin : 0px;
	width : 670px; 
	height : 30px; 
	background-color : #1E60B5; 
	color : white; 
	font-size : 20px; 
	font-family: 'Baloo Chettan', cursive;
}

.join_tag {
	font-family: 'Baloo Chettan', cursive;
	color : #1E60B5;
	margin : 10px;
	font-size : 25px;
	width : 200px;
	display : inline-block;
}

.join_input{
	width : 300px;
	height : 30px;
	margin : 10px;
	border : 1px solid #1E60B5;
	border-radius : 6px;
}

.checkBT {
	width : 70px;
	height : 30px;
	margin : 10px;
	border : 1px solid #1E60B5;
	border-radius : 6px;
	background-color : white;
	color : #1E60B5;
}